<div *ngIf="checkbook" class="container">
    <div class="row py-5">
       <div *ngFor="let book of newbooks"  class="col-12">
               <div class="movie my-2 position-relative ">
                   <div class=" h-50 ">
                    <a routerLink='/books/{{ book._id }}' ><img class="unimation" [src]="book.image" >  </a> 
                   </div>          
                   <a routerLink='/books/{{ book._id }}' ><h1 class="my-2 h1" style="color:  #45171d;"><b>{{book.title | titlecase }}</b></h1> </a> +
                   {{book.authorId._id}}
                   <a routerLink='/authors/{{ book.authorId }}' ><h6 class="my-2 h3" style="color:  #45171d;font-size: 1vw;opacity: 0.9;">{{book.authorId.firstName}} {{book.authorId.lastName}}</h6> </a>       
               </div>
       </div>
    </div>
</div>

<div *ngIf="checkcategory" class="container">
    <div class="row py-5">
       <div *ngFor="let catagory of newcatagories"  class="col-md-2 ">
               <div class="movie my-2 position-relative">
                   <div class=" h-75">
                    <a routerLink='/categories/{{ catagory._id }}' ><img class="unimation" [src]="catagory.image" >  </a> 
                   </div>          
                   <a routerLink='/categories/{{ catagory._id }}' ><h1 class="my-2 h1" style="color:  #45171d;"><b>{{ catagory.name }}</b></h1> </a> 
                       
               </div>
       </div>
    </div>
</div>


<div *ngIf=" checkauthor"  class="container">
    <div class="row py-5">
       <div *ngFor="let author of newauthors"  class="col-md-2 ">
               <div class="movie my-2 position-relative">
                   <div class=" h-75">
                    <a routerLink='/authors/{{ author._id }}' ><img class="unimation w-100" [src]="author.photo" >  </a> 
                   </div>          
                   <a routerLink='/authors/{{ author._id }}' ><h1 class="my-2 h1" style="color:  #45171d;"><b>{{author.firstName}} {{author.lastName}}</b></h1> </a>       
               </div>
       </div>
    </div>
</div>

<div *ngIf="checkall" class="alert  noresult " >
  <p style="margin-top: 2rem;"><b> Not Result Can Search Again </b></p>
</div>