section
{
    background-image: url(../../../assets/book.jpg); 
    background-size: cover;
    
    
}
h1{
    font-family: 'Segoe Ui light';
    font-weight: 900;
    /* color: rgb(242, 241, 243); */
    color: white;
    width: fit-content;
    
}

img{
    height: 25vh;
    
}
.unimation{
    transition: .4s;
}
.unimation:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16),
    0 3px 6px rgba(0,0,0,0.23);
    transform: translate(0px, -30px);
}