<div class="w-75 m-auto py-5">
    <div *ngIf="error" class="alert alert-light w-50">
        <p style="color: red;" >{{ error }}</p>
    </div> 
  <form [formGroup]="loginform" (ngSubmit)="submitlogin(loginform)" class="mx-5">
    <div class="form-group">
        <label class="my-2"  for="email">email:</label>
        <input formControlName="email" class="form-control w-75" type="email" placeholder="enter email" id="email">
        <div *ngIf="loginform.get('email')?.errors != null && loginform.get('email')?.touched"  class="alert my-2 alert-light w-75" style="height: 8vh;">
              <p style="color: red;" *ngIf="loginform.get('email')?.errors?.['required']">email is required</p>
              <p style="color: red;" *ngIf="loginform.get('email')?.errors?.['email']">email is invalid</p>
        </div>
    </div> 
          <div class="form-group">
              <label class="my-2"  for="password">password:</label>
              <input formControlName="password" class="form-control w-75" type="password" placeholder="enter password" id="password">
              <div *ngIf="loginform.get('password')?.errors != null && loginform.get('password')?.touched" class="alert my-2 alert-light w-75" style="height: 8vh;">
                    <p style="color: red;" *ngIf="loginform.get('password')?.errors?.['required']">password is required</p>
                    <p style="color: red;" *ngIf="loginform.get('password')?.errors?.['pattern']">password must star with captail and contain with lower character and numbers</p>
              </div>
          </div> 
          <button [disabled]="loginform.invalid" class=" my-2 btn btn-info login-button mt-5 w-25" >Login</button>
     </form>
</div>