.pageBox {
  min-height: 100px;
  background-color: #65bf8b;
  margin: 0 1rem;
  color: white;
}
.pageBox h1 {
  font-size: 36px;
}

:host ::ng-deep .p-rating-icon:not(.p-rating-cancel),
:host ::ng-deep .p-rating-icon:not(.p-rating-cancel):hover {
  color: var(--dark-color) !important;
  font-size: 1.1rem;
}

:host ::ng-deep .dropdownStyle .p-dropdown-label {
  width: 9rem;
}

a {
  color: #5c5c5c;
  font-size: 1.4rem;
  text-transform: bold;
}
.sr-only{
  cursor:pointer;
}
.page-link{
  cursor:pointer;

}
