<div class="container">
    <div class="row py-5">
       <div *ngFor="let catagory of catagories"  class="col-md-2 unimation">
               <div class="movie my-2 position-relative">
                   <div class=" h-75">
                    <a routerLink='/categories/{{ catagory._id }}' ><img class="w-100" [src]="catagory.image" >  </a> 
                   </div>          
                   <a routerLink='/categories/{{ catagory._id }}' ><h1 class="my-2 h6" style="color:  #45171d;"><b>{{ catagory.name }}</b></h1> </a> 
                       
               </div>
       </div>
    </div>
</div>