<section class="home" id="home">
  <div class="row">
    <div class="content">
      <h3><b>Good Reads Clone</b></h3>
      <p>
        The more that you read, the more things you will know. 
        The more that you learn, the more places you'll go.
      </p>
    </div>
    <div class="swiper books-slider">
      <div class="swiper-wrapper">
        <a *ngFor="let book of books" class="swiper-slide"
         routerLink='/books/{{ book._id }}' ><img [src]="imageBook + '/' + book.image" alt=""
        /></a>
      </div>
      <img
        src="../../../assets/stand-removebg-preview.png"
        class="stand"
        alt=""
      />
    </div>
  </div>
</section>

<section class="featured" id="featured">
  <h1 class="heading">
    <span>Popular Books</span>
  </h1>
  <div class="swiper featured-slider">
    <div class="swiper-wrapper">
      <div *ngFor="let book of uniquebook" class="swiper-slide box">
        <div class="image pt-3">
          <a routerLink="/books/{{ book._id }}">
            <img [src]="imageBook + '/' + book.image" alt=""
          /></a>
        </div>
        <div class="content">
          <a routerLink="/books/{{ book._id }}"><h3>{{ book.title | titlecase }}</h3></a>
        </div>
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</section>

<section class="newsletter">
  <form action="">
    <br /><br /><br /><br />
    <br /><br /><br /><br />
  </form>
</section>

<section class="reviews" id="reviews">
  <h1 class="heading"><span>Popular Authors</span></h1>
  <div class="swiper reviews-slider">
    <div class="swiper-wrapper">
      <div *ngFor="let author of uniqueauthors" class="swiper-slide box">
        <a routerLink='/authors/{{ author._id }}'> <img [src]="imageAuthor + '/' + author.photo" alt="" /></a>
        <a routerLink='/authors/{{ author._id }}'>   <h3>{{author.firstName }} {{ author.firstName }}</h3></a>
      </div>
    </div>
  </div>
</section>

<section class="blogs" id="blogs" >
  <h1 class="heading"><span>Popular Categories</span></h1>
  <div class="swiper blogs-slider" >
    <div class="swiper-wrapper" >
      <div *ngFor="let category of uniquecategories" class="swiper-slide box">
        <div class="image">
          <a routerLink='/categories/{{ category._id }}'>    <img [src]="imageCategory + '/' + category.image" alt="" /></a>
        </div>
        <div class="content">
          <a routerLink='/categories/{{ category._id }}'>   <h3>{{ category.name | titlecase }}</h3></a>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
    <h1 class="heading"><span>Rate User Reviews</span></h1>

<app-user-review></app-user-review>
</section>

<app-footer></app-footer>




