<section class="footer">
      <div class="box-container">
        <div class="box">
          <h3>our emails</h3>
          <a href=""><i class="fas fa-envelope"> abdelrahman.magdy307@gmail.com</i> </a>
          <a href=""><i class="fas fa-envelope"> mohammedadell301@gmail.com</i> </a>
          <a href=""><i class="fas fa-envelope"> nadahamed123455@gmail.com</i> </a>
          <a href=""><i class="fas fa-envelope"> arch.samerhassan@gmail.com</i> </a>
        </div>

        <div class="box">
          <h3>our phones</h3>
          <a href=""><i class="fas fa-phone">+20-109-151-6647</i></a>
          <a href=""><i class="fas fa-phone">+20-106-253-5301</i></a>
          <a href=""><i class="fas fa-phone">+20-106-330-8733</i></a>
          <a href=""><i class="fas fa-phone">+20-102-834-3913</i></a>
        </div>
      </div>
      <div class="share">
       <a class="fab fa-facebook-f"> </a>
        <a  class="fab fa-twitter"></a>
        <a  class="fab fa-instagram"></a>
        <a class="fa-brands fa-linkedin-in"></a>
        <a class="fa-brands fa-google"></a>
      </div>
      <div class="credit">
        created by <span>A M N S</span> all rights reserved :))
      </div>
    </section>