<div class="container py-5">
    <div class="row">
        <div class="col-md-4">
            <img class="w-100 image" [src]="imageAuthor + '/' + author.photo" >
        </div>
        <div class="col-md-8">
            <h1 class="head1"><b>{{ author.firstName }} {{ author.lastName }}</b></h1>
            <h3 class="head3"> {{author.birthDate | date:'dd/MM/yyyy' }}</h3>
            <p class="paragraph">{{ author.description }}</p>
        </div>
    </div>
</div>

<div class="container py-5">
    <div class="row">
        <div class="col d-flex justify-content-center" style="color: #45171d;">
            <h1><b>Authors Books</b></h1>
        </div>
    </div>
</div>

<section>
    <div *ngFor="let authorBook of authorBooks" class="container mb-2" style="border: 1px solid #f7f6f6;border-radius: 10px;padding: 0.5rem;">
        <div class="row" >
            <div class="col-2">
                <img class="ps-2 unimation" style="width: 10vw;" [src]="imageBook + '/' + authorBook.book.image" >
            </div>
            <div class="col-2" style="width: 70vw;" >
                <h3><b> {{authorBook.book.title}}</b></h3>
                <div class="flex-row mt-4 me-1 h-50" style="display: flex; align-items: center;">
                   <p-rating [ngModel]="authorBook.avg.avg" [readonly]="true" [cancel]="false"></p-rating>
                    <h6 class="ms-2"><b>{{authorBook.avg.avg}} - {{authorBook.avg.count}} ratings</b></h6>
                    <a  routerLink="/books/{{authorBook.book._id}}" class="btn btn-danger h-50 w-25" style="margin-left: 30rem;display: flex; justify-content: center;"><b>Go to Book</b></a>
                </div>
            </div>
            
        </div>
    </div>
</section><br>