<nav class="navbar navbar-expand-lg   p-4" style=" box-shadow: rgb(239 234 234 / 24%) 0px 1px 3px; position: sticky;   position: -webkit-sticky;
position: sticky;
top: 0; z-index: 1;background-color: #45171d; ">
  <div class="container-fluid ms-4">
    <img style="width: 3rem;border-right:1px solid #131722 ; margin-right: 10px;" src="../../../assets/logo.png">
    <button style="background-color: #ebccb3d5;" class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span style="color: #45171d;" class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse  " id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item ">
          <a class="nav-link active " aria-current="page" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active " aria-current="page" routerLink="categories">Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active " aria-current="page" routerLink="books">Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active " aria-current="page" routerLink="authors">Authors</a>
        </li>
        <form *ngIf="islogin" class="d-flex " role="search">
          <input #searchinput class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
            style="margin-left:20rem;">
          <a (click)="getresult(searchinput)" class="btn btn-outline-success" routerLink="Search">Search</a>
        </form>

      </ul>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a *ngIf="!islogin" class="nav-link active " aria-current="page" routerLink="login">Login</a>
        </li>
        <li class="nav-item">
          <a *ngIf="!islogin" class="nav-link active " aria-current="page" routerLink="register">Register</a>
        </li>
        <li class="nav-item">
          <!-- <a *ngIf="islogin" routerLink="mybooks"><img class="rounded-circle profile " [src]="myImage"></a> -->
          <ng-container *ngIf="islogin">
            <button mat-button [matMenuTriggerFor]="menu" class="user mt-2 d-flex align-items-center "
              style="background-color:#45171d;">
              <img [src]="myImage" alt="" class="rounded-circle profile p-2">
              {{userName}}
              <mat-icon class="user-image-icon ml-1">keyboard_arrow_down</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="getstate()" routerLink="mybooks?state=all">
                <mat-icon>arrow_right_alt</mat-icon>
                My Books
              </button>
              <button mat-menu-item (click)="islogout()">
                <mat-icon>exit_to_app</mat-icon>
                Logout
              </button>
            </mat-menu>
          </ng-container>
        </li>
        <!-- <li class="nav-item">
          <a *ngIf="islogin" class="nav-link active " aria-current="page" routerLink="logout"
            (click)="islogout()">Logout</a>
        </li> -->

      </ul>
    </div>
  </div>
</nav>