
<div class="container">
    <div class="row">
        <div>
            <h1 class="category"><b>{{ catagory.name}}</b></h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mt-5 justify-content-center">
        <ng-container *ngFor="let book of books">
          <div class="col-12 col-md-3 mt-4 catagory unimation">
            <mat-card class="example-card">
              <img  mat-card-image [src]="image + '/' + book.image" />
              <mat-card-title class="fs-2 text-center"> <a routerLink='/books/{{ book._id }}' ><b> {{book.title | titlecase}}</b>
                </a>
                <a routerLink='/authors/{{ book?.authorId._id }}' ><h6><b>{{book?.authorId.firstName}} {{book?.authorId.lastName}}</b></h6> </a>
            </mat-card-title>
            </mat-card>
          </div>
        </ng-container>
      </div>
</div>