
<div class="container">
    <div class="row">
        <div>
            <h1 class="category"><b>{{ catagory?.name}}</b></h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row py-5">
       <div *ngFor="let book of books"  class="col-md-2 unimation">
               <div class="movie my-2 position-relative">
                   <div class=" h-75">
                    <a routerLink='/books/{{ book._id }}' ><img class="w-100" [src]="book.image" >  </a> 
                   </div>          
                   <a routerLink='/books/{{ book._id }}' ><h1 class="my-2 h6" style="color:  #45171d;"><b>{{book.title | titlecase }}</b></h1> </a> 
                   <a routerLink='/authors/{{ book?.authorId._id }}' ><h6 class="my-2 h6" style="color:  #45171d;font-size: 1vw;opacity: 0.9;">{{book?.authorId.firstName}} {{book?.authorId.lastName}}</h6> </a>       
               </div>
       </div>
    </div>
</div>