<section class="deal">
  <div class="content">
    <div class="row">
      <h3 class="col-12 col-md-6">{{ book?.title }}</h3>
      <a class="castmBtn btn col-12 col-md-1 ms-auto" (click)="addReview()"> + </a>
    </div>
    <a routerLink="/authors/{{ authorObj?._id }}"
      ><h1>{{ authorObj?.firstName }} {{ authorObj?.lastName }}</h1></a>
    <a routerLink="/categories/{{ categoryObj?._id }}"
      ><h5>{{ categoryObj?.name }}</h5></a>
    <div class="rating">
      <p-rating
        iconCancelClass="pi pi-times"
        [ngModel]="bookRate.avg"
        [readonly]="true"
        [cancel]="false"
      ></p-rating>
      <p>
        <b>{{ bookRate.avg }} - {{ bookRate.count }} ratings</b>
      </p>
    </div>

    <p>
      {{ book?.description }}
    </p>
  </div>
  <div class="image">
    <img [src]="bookImage + book?.image" alt="" />
    <div class="row">
      <div class="col-12 ">
        <p-dropdown
          (onChange)="getStatus($event)"
          class="dropdownStyle"
          [options]="status"
          [(ngModel)]="selectedStatus"
          optionLabel="value"
          placeholder="{{userReview?.status}}"
          [showClear]="true"
        ></p-dropdown>
      </div>
      <div class="col-12 ">
        <p-rating
          class="stars"
          iconCancelClass="pi pi-times"
          [ngModel]="userReview?.rating"
          (onRate)="getrate($event)"
          [cancel]="false"
        ></p-rating>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="d-flex pt-3 pb-2">
      <input
        #comment
        type="text"
        name="text"
        placeholder="+ Add a note"
        class="w-75 addtxt"
        (keyup.enter)="addComment(comment)"
        [disabled]="userReview?.review && !isEdit"  
      />
    </div>
    <div class="row">
      <div class="col-12 py-2 px-2">
        <ng-container *ngFor="let review of allReviews">
          <ng-container *ngIf="review.review != '' ">
        <div class="row py-3 pt-3">
          <div class="col-6">
            <img [src]="userImage+review.userId?.image" width="50" /><span
              class="text2"
              >{{review?.userId?.firstname}} {{review?.userId?.lastname}}</span>
            <p class="text1 mt-3">{{review?.review}}</p>
            <button #btn2 (click)="remove(btn2,review,comment)" *ngIf="userId == review.userId._id "  class="btn btn-warning me-3 fs-4 p-2 mt-3">edit</button>
            <button #btn (click)="remove(btn ,review,comment)" *ngIf="userId == review.userId._id" class="btn btn-danger me-3 fs-4 p-2 mt-3">remove</button>
          </div>

          <div class="col-6">
            <span class="text3">{{review?.Date}}</span>
          </div>
        </div>
      </ng-container>
      </ng-container>
      </div>
    </div>
  </div>
</section>

